<!-- templates/about/tech.html -->
{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
{% comment %} Колонки с отступом сверху и снизу {% endcomment %}
<div class="row">
  <h1>Вот что я умею</h1>
  {% comment %}
    Боковой блок со списком технологий 
    Займет всю ширину блока на мобильном
    и 25% при размерах экрана ≥768px
  {% endcomment %}
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
        {% load static %}
        <img src="{% static 'img/python.png' %}" width="350" height="200" class="d-inline-block align-top" alt="">
      </li>
      <li class="list-group-item">
        Django
        {% load static %}
        <img src="{% static 'img/django.png' %}" width="350" height="200" class="d-inline-block align-top" alt="">
      </li>
    </ul>
  </aside>
  {% comment %}
    Статья  
    Займет всю ширину блока на мобильном
    и 75% при размерах экрана ≥768px
  {% endcomment %}
  <article class="col-12 col-md-9">
    <p>Это те технологии, которые я изучаю в Яндекс.Практикуме</p>
  </article>
</div>
{% include 'posts/includes/paginator.html' %}
{% endblock %}